services:
  calibre-web-automated-book-downloader-tor:
    image: ghcr.io/calibrain/calibre-web-automated-book-downloader-tor:latest
    environment:
      FLASK_PORT: 8084
      LOG_LEVEL: info
      BOOK_LANGUAGE: en
      USE_BOOK_TITLE: true
      TZ: America/New_York
      USING_TOR: true
      # SESSION_COOKIE_SECURE: 'true'  # Set to 'true' if accessing ONLY via HTTPS
      # DEBUG: 'true'  # Enable debug mode (debug button, verbose logging)
    cap_add:
      - NET_ADMIN
      - NET_RAW
    ports:
      - 8084:8084
    restart: unless-stopped
    volumes:
    # This is where the books will be downloaded to, usually it would be 
    # the same as whatever you gave in "calibre-web-automated"
      - /tmp/data/calibre-web/ingest:/cwa-book-ingest
