services:
  calibre-web-automated-book-downloader:
    image: ghcr.io/calibrain/calibre-web-automated-book-downloader:latest
    container_name: calibre-web-automated-book-downloader
    environment:
      FLASK_PORT: 8084
      TZ: America/New_York
      UID: 1000
      GID: 100
      # CWA_DB_PATH: /auth/app.db  # Uncomment to use CW authentication
    ports:
      - 8084:8084
    restart: unless-stopped
    volumes:
      - /tmp/data/calibre-web/ingest:/cwa-book-ingest # This is where the books will be downloaded and ingested by your book management application
      - /path/to/config:/config # Configuration files and database
