services:
  calibre-web-automated-book-downloader:
    image: ghcr.io/calibrain/calibre-web-automated-book-downloader:latest
    container_name: calibre-web-automated-book-downloader
    environment:
      # TZ: America/New_York
      # PUID: 1000
      # PGID: 1000
    ports:
      - 8084:8084
    restart: unless-stopped
    volumes:
      - /path/to/ingest:/cwa-book-ingest # Book ingest directory
      - /path/to/config:/config # App configuration
      # Download client mount (must match your torrent/usenet client's volume)
      # - /path/to/downloads:/downloads
