services:
  calibre-web-automated-book-downloader-extbp:
    image: ghcr.io/calibrain/calibre-web-automated-book-downloader-extbp:latest
    environment:
      FLASK_PORT: 8084
      LOG_LEVEL: info
      BOOK_LANGUAGE: en
      USE_BOOK_TITLE: true
      TZ: America/New_York
      UID: 1000
      GID: 100
      # CWA_DB_PATH: /auth/app.db  # Uncomment to enable authentication
      # SESSION_COOKIE_SECURE: 'true'  # Set to 'true' if accessing ONLY via HTTPS
      # DEBUG: 'true'  # Enable debug mode (debug button, verbose logging)
      EXT_BYPASSER_URL: http://flaresolverr:8191
    ports:
      - 8084:8084
    restart: unless-stopped
    volumes:
      # This is where the books will be downloaded to, usually it would be
      # the same as whatever you gave in "calibre-web-automated"
      - /tmp/data/calibre-web/ingest:/cwa-book-ingest
      # This is the location of CWA's app.db, which contains authentication
      # details. Uncomment to enable authentication (also uncomment CWA_DB_PATH above)
      #- /cwa/config/path/app.db:/auth/app.db:ro
  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
